
.list-punkts{
    list-style: none;
    padding: 0px 0px 0px 0px;
}
.punkt {
    font-size: 18px;
    font-weight: 400;
    margin: 10px;
}
.punkt-row {
    display: flex;
    padding: 5px 30px;
    align-items: center;
}
.punkt1 {
    display:flex
   
}
.punkt-row__name {
    margin: 0px 15px -15px 0px;
    flex: 1 1 auto;
    p{
        width: 100%;
        height: 50px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    
}
.punkt-row__icon-menu {
    border-radius: 50%;
    
    img{
        width: 35px;
    height: 35px;
    }
}
.punkt2 {
    position: relative;
    div{
        margin: 0px 15px 0px 0px;
        &:last-child{
            margin: 0px 0px 0px 0px;
        }
    }
    &::after{
        content: '';
        height: 1px;
        width: 100%;
        background-color: black;
        position: absolute;
        bottom: -10px;
        left: 0;
    }
}

.punkt-row__id-project {
}
.punkt-row__author-create {
    color: grey;
}
.punkt-row__status{
    flex: 1 1 auto;
}
.punkt-row__time-change {
    color: grey;
}
.punkt-row__author-change {
    color: grey;
}
.punkt-row__submenu {
}