

.update-user-info {
    margin: 20px;
}
.update-user-info__header {
}
.update-user-info__body {
    margin: 20px 0px 0px 0px;
    
}
.uui-form {
    button{
        margin: 0px 20px 0px 0px;
        
    }
    h6{
        margin: 0px 0px 15px 0px;
        input{
            margin: 0px 0px 0px 20px;
            
        }
        
    }
}